- name: "Add Containerd kernel module configuration"
  ansible.builtin.lineinfile:
     path: /etc/modules-load.d/containerd.conf
     line:
        - "overlay"
        - "br_netfilter"
     create: true
     mode: '0600'
  register: module_file_created

- name: "Update sysctl configuration"
  ansible.builtin.lineinfile:
     path: /etc/sysctl.d/98-kubernetes-cri.conf
     line:
        - net.bridge.bridge-nf-call-iptables = 1
        - net.ipv4.ip_forward = 1
        - net.bridge.bridge-nf-call-ip6tables = 1
     mode: '0644'
     create: true
  notify: "Containers: sysctl_file_created"

- name: "Install Containerd and CNI tools"
  ansible.builtin.apt:
     update_cache: false
     state: present
     name:
        - containerd
        - runc

- name: "Create containerd configuration directory"
  ansible.builtin.file:
     path: /etc/containerd
     mode: '0600'
     state: directory
  register: containerd_directory
  notify: "Containers: containerd_configuration"

- name: "Ensure containerd is started"
  ansible.builtin.service:
     name: containerd
     state: started
     enabled: true

- name: "Remove swap from filesystems"
  ansible.builtin.lineinfile:
     state: absent
     path: /etc/fstab
     regexp: '^.+ none swap .*$'
  notify: "Containers: disable_swap"
