- name: "Ubuntu Core Packages for K8s Setup"
  ansible.builtin.apt:
    update_cache: false
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - man-db

- name: "Pre-work checks - Release.key exists"
  ansible.builtin.stat:
    path: "{{ k8s_apt_key }}"
  register: release_key_exists

- name: "Fetch the K8s apt repo key"
  ansible.builtin.get_url:
    url: "{{ k8s_apt_url }}/Release.key"
    dest: "{{ k8s_apt_key }}"
    mode: '0600'
  when: release_key_exists.stat.exists is false

- name: "Pre-work checks - GPG Keyring exists"
  ansible.builtin.stat:
    path: "{{ k8s_apt_gpg }}"
  register: gpg_key_exists

- name: "Convert key to keyring"
  ansible.builtin.shell: |
    gpg --dearmor -o {{ k8s_apt_gpg }} < {{ k8s_apt_key }}
  register: gpg_key_created
  changed_when: gpg_key_created.rc != 0
  when: gpg_key_exists.stat.exists is false

- name: "Fix mode"
  ansible.builtin.file:
    path: "{{ k8s_apt_gpg }}"
    mode: '0644'

- name: "Add Kubernetes Apt repository"
  ansible.builtin.apt_repository:
    repo: "deb [signed-by={{ k8s_apt_gpg }}] {{ k8s_apt_url }} /"
    filename: kubernetes
    state: present


- name: "Install Kubernetes tools"
  ansible.builtin.apt:
    update_cache: true
    state: present
    name:
      - kubernetes-cni
      - kubectl
      - kubeadm
      - kubelet
      - kubectx
