- name: "Containers: modprobe container modules"
  ansible.builtin.shell: |
    modprobe overlay
    modprobe br_netfilter

- name: "Containers: reload sysctl system"
  ansible.builtin.shell: |
    sysctl --system

- name: "Containers: restart containerd service"
  ansible.builtin.service:
    name: containerd
    state: restarted

- name: "Containers: disable swap"
  ansible.builtin.command: swapoff -a
