all:
  vars:
    ansible_python_interpreter: /usr/bin/python3.12
    ansible_user: root
    ansible_password: C1sco12345
  children:
    management:
      hosts:
        jumphost:
          ansible_host: 198.18.129.10
    k8s_cluster:
      children:
        control_nodes:
          hosts:
            k8s-control-1:
              ansible_host: 198.18.129.20
        worker_nodes:
          hosts:
            k8s-worker-1:
              ansible_host: 198.18.129.21
            k8s-worker-2:
              ansible_host: 198.18.129.22
            k8s-worker-3:
              ansible_host: 198.18.129.23
