apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: first-pool
  namespace: metallb-system
spec:
  addresses:
  - 198.18.129.101-198.18.129.200
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: dcloud-l2out
  namespace: metallb-system
spec:
  ipAddressPools:
  - first-pool
